.circle-article {
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
}

.circle-section {
  color: white;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

#days {
  color: #ed1b76;
  font-family: squidFont;
  font-size: 20px;
}
