body {
  background-color: black;
}

.header-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-back {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#squid-game-svg {
  width: 70vw;
}
