* {
  box-sizing: border-box;
}

.title-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
}
.actor-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.actor-item {
  color: black;
  width: 50vh;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 30px;
  height: 110vh;
}

.actor-img {
  width: 50vh;
  height: 60vh;
}

.actor-description {
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: squidFont;
  src: url(GameOfSquids-1GMVL.ttf);
}

.squid-font {
  font-family: squidFont;
}
